<div class="card-container">
  {{#each this}}
  <div class="country-container">
    <h2>{{{name}}}</h2>
    <ul>
      <li class="list">
        <b>Capital:</b> <span class="contry-data">{{this.capital}}</span>
      </li>
      <li class="list"><b>Population:</b> <span>{{this.population}}</span></li>
      <li class="list">
        <b>Languages: </b>

        <ul class="country-list_languages-list">
          {{#each languages}}
          <li>{{this.name}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>

  <div class="flag-container">
    <img class="country-flag" src="{{this.flag}}" alt="Flag of {{name}}
    width="20%" ">
  </div>
  {{/each}}
</div>